@import "./vars.styl"

header
	background-color: $primary-color
	display flex
	justify-content space-around
	color $secondary-color
	font-size 3rem
	text-transform uppercase
	align-items center
header div
	display flex
h1
	font-size inherit
	margin-left 20px
img
	width 70px
	height 70px
nav
	display flex
	justify-content center
	align-items center
ul, li a
	text-decoration none
	list-style: none
	margin-right 20px
	display flex
	color $secondary-color
	font-weight bold
