@import "./vars.styl"

form
	width 500px
	display flex
	flex-direction column

.form__title
	color $secondary-color
	font-size 4rem
	text-align center

.form__input
	border 10px solid $secondary-color
	border-radius 20px
	width 500px
	height 50px
	margin-top 20px
	font-size 2rem

.btn__container
	display flex
	justify-content space-between
	width 350px
	margin 0 auto
	margin-top 20px

.form__btn
	width 150px
	height 50px
	border-radius 10px
	background-color $primary-color
	border 3px solid $secondary-color